<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2"></div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/viktor.jpg" alt="card image"></p>
                                    <h4 class="card-title">Szőke Viktor</h4>
                                    <p class="card-text">iOS</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Szőke Viktor</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Beatae soluta error, repellat dolores nostrum officiis ratione aliquam tempora
                                        in blanditiis non quos dolorum doloribus eius est modi ipsam enim aspernatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/lori.jpg" alt="card image"></p>
                                    <h4 class="card-title">Horváth Lóránd</h4>
                                    <p class="card-text">Android</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Horváth Lóránd</h4>
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Fugit minima incidunt nemo, itaque, mollitia quas cumque voluptate, saepe hic
                                        soluta minus expedita vel magni deleniti magnam rerum eveniet sed rem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-2"></div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/dani.jpg" alt="card image"></p>
                                    <h4 class="card-title">Morvai Dániel</h4>
                                    <p class="card-text">Backend</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Morvai Dániel</h4>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        Culpa vitae nostrum nihil similique, eum asperiores. Quas veritatis esse fugiat
                                        veniam. Autem porro earum itaque veniam vero at quos quae assumenda!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/beci.jpg" alt="card image"></p>
                                    <h4 class="card-title">Borsy Béla</h4>
                                    <p class="card-text">Backend / Frontend</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Borsy Béla</h4>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        Aliquid esse vero veniam praesentium ea odit, accusamus doloremque, itaque
                                        illum architecto eligendi quae, ut voluptas nobis magnam iusto rem?
                                        Repellendus, accusantium?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2"></div>
        </div>
    </div>
</section>