<div class="container-full">
  <div class="row rowStyle">

    <div class="col-md-2">
      <a [routerLink]="routerLinkCreate"><button type="button" class="btn btn-success">Create Events</button></a>
      <div class="sidebar">
        <ul class="listStyle">
          <a [routerLink]="routerLinkEvents">
            <li>Events</li>
          </a>
          <a [routerLink]="routerLinkScoreboard">
            <li>Scoreboard</li>
          </a>
          <a [routerLink]="routerLinkMyEvents">
            <li>My Events</li>
          </a>
          <a [routerLink]="routerLinkProfile">
            <li>Profile</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8 routerOutlet">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>