<footer class="page-footer font-small teal pt-4 container-full">
    <div class="container-fluid text-center text-md-left footerContainer">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h1 id="socialmedia" class="text-uppercase text-center font-weight-bold">Social Media</h1>
                <ul>
                    <li>
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-google"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-linkedin"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-youtube"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-snapchat-ghost"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-skype"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-android"></a>
                    </li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-6 mb-md-0 mb-3">
                <h1 id="contactus" class="text-uppercase text-center font-weight-bold">Contact</h1>
                <div class="footer-center">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <span>BME Q épület, Budapest, Hungary</span>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <span>+36 20 123 4567</span>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <span><a href="mailto:xyz@xdmail.com" style="color: white; text-decoration: none;">support@sportify.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-copyright text-center py-3 footerContainer">© 2018 Copyright:
        <a href="http://sportify.westeurope.cloudapp.azure.com:3000/"> Sportify</a>
    </div>

</footer>