<div class="loginmodal-container">
  <h1>Login to Your Account</h1><br>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <input type="text" name="username" id="username" [(ngModel)]="loginUser.username" required placeholder="Username" #name="ngModel" autocomplete="off">
    <input type="password" name="pass" id="password" [(ngModel)]="loginUser.password" required placeholder="Password" #password="ngModel" autocomplete="off">
    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
  </form>
  <div *ngIf="incorrect2()" class="alert alert-danger">
      Incorrect username or password! Try again!
  </div>
  <div class="login-help">
    <a [routerLink]="routerLinkSignUp">Sign up</a>
  </div>
</div>