<main class="container-full text-center teal pt-4 fill">
    <div [hidden]="submitted">
        <div class="container mb-3">
            <a [routerLink]="routerLinkSignUp"><button (click)="hiddenButtons()" type="button" class="btn btn-primary">Sign up</button></a>
        </div>
        <div class="container">
            <a [routerLink]="routerLinkLogin"><button type="button" (click)="hiddenButtons()" class="btn btn-secondary">Login</button></a>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="container main-content">
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis eos similique pariatur?
            Corrupti fugiat in soluta alias repellendus odio reprehenderit expedita a rem nemo delectus est,
            illum repellat quibusdam esse.
        </article>
    </div>
</main>